* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #dce1de;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}

#boardContainer {
  display: flex;
  margin: 0px;
  padding: 30px 0px;
  flex-direction: column;
  align-items: center;
}

.board {
  font-family: "BIZ UDGothic", sans-serif;
  color: white;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  line-height: 1.5;
  background: #49a078;
  border: 10px solid #132a13;
  border-radius: 5px;
  width: 70%;
  height: 250px;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  overflow-wrap: anywhere;
  position: relative;
  z-index: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
  position: absolute;
  top: 130px;
  margin: auto 0;
  color: white;
  text-align: center;
  z-index: 1;
}

.show {
  display: block;
}

.bottomSection {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

#resetButton {
  color: #dce1de;
  background: #4f86c6;
  margin: 10px 0px;
  height: 40px;
  flex-basis: 30%;
}

#resetButton.disabled {
  background: #586994;
}

#apples {
  flex-basis: 30%;
  margin: 8px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

i.fa-apple-whole {
  padding: 0 2px;
  color: #cd6161;
  font-size: 20px;
  line-height: 1.2;
  display: none;
}

i.fa-apple-whole.apple {
  display: flex;
}

.timer {
  margin: 10px 0;
  font-family: "Press Start 2P", cursive;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display {
  color: #132a13;
  margin: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display_time-left {
  color: #132a13;
  margin: 0;
}

.meter {
  box-sizing: content-box;
  height: 8px; /* Can be anything */
  position: relative;
  margin: 0;
  background: #555;
  border-radius: 25px;
  padding: 4px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
  display: block;
  height: 8px;
  max-width: 90%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #49a078;
  background-image: linear-gradient(
    to bottom,
    #49a078 37%,
    rgb(84, 240, 84) 69%,
    #49a078 37%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 4px;
  top: 4px;
  overflow: hidden;
  transition: all 0.9s ease;
}
.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
